.Rproj.user
.Rhistory
.RData
.Ruserdata

/.quarto/
.DS_Store
.Renviron

/env/
(붙임) 경기도청 챗GPT 직원직무 교육신청 명단(취합).xlsx
code/translator/venv/
code/misinformation/venv/

data/LibriSpeech
*.bin

.env
data/001.문서요약텍스트_sample
