/*-- scss:defaults --*/
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+KR");
@import url("https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap");
@font-face {
  font-family: 'MaruBuri-Regular';
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.0/MaruBuri-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'D2Coding';
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_three@1.0/D2Coding.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/*-- scss:rules --*/
.navbar-dark {
  background-color: #6c757d;
  color: #000000;
  font-family: 'MaruBuri-Regular';
}

.sidebar-item {
  margin-bottom: 0.2em;
  font-family: 'Noto Serif KR';
}

h1, .h1, h2, .h2 {
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-family: 'Noto Sans KR';
}

p, column, .column {
  font-family: 'MaruBuri-Regular', serif;
}


ul, .ul, li, .li {
  font-family: 'MaruBuri-Regular', serif;
}
